* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 8px;
    min-height: 85vh;
}

h1.main {
    margin: 20px auto 10px auto;
    color: rgb(25, 108, 232);
    text-align: center;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 0.5px solid black;
    font-size: 1.1rem;
    outline-color: rgb(25, 108, 232);
    outline-offset: 2px;
}

h3 {
    margin: 20px 0px;
    color: teal;
    text-align: center;
}

button {
    margin: 30px 0px;
    width: 100px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(25, 108, 232);
    color: white;
    box-shadow: 2px 2px 10px black;
}

button:hover {
    transform: scale(0.96);
    background-color: transparent;
    color: rgb(25, 108, 232);
    border: 4px solid rgb(25, 108, 232);
}

#profit,
#profit_percent {
    color: green;
    text-align: center;
}

#loss,
#loss_percent {
    color: red;
    text-align: center;
}


footer {
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

}

@media screen and (max-width: 400px) {
    html {
        font-size: 12px;
    }

    input {
        width: 80%;
    }
}